*{padding: 0px; margin: 0px}

/*GLOBAL____________________________________________________________________*/

html 	{background: grey;}

body 	{width: 100%;
		background: #fff;
		height: 1840px; 
		margin: 0 auto;}

main {width: 90%;
		height: 548px;
		background: rgb(84, 84, 84) url(../images/0fondo2.png);
		background-attachment: fixed;
		padding: 0 5%;}

	#divtop { width: 100%; height: 90px;}
		nav 	{width: 180px;
				height: 50px;
				padding: 0 5px;
				float: right;
				margin-top: 10px;}
				#comprarelcuento { height: 35px; font-size: 0.8em; padding: 0  25px; }

		#daydreams {margin-top: 10px;
						float: left;}
	#divheader {width: 100%; 
				height: 423px;
				margin: 0 auto;}
		#nicolee {float: right; }

#header {width: 90%;
		height: 280px;
		padding: 0 5%;
		margin: 0px auto;
		background:#333333;}
			.row {width: 100%;
    			display: inline-block;}
 		#holanico {float: left; 
    					margin-top:40px;
    					margin-left: 7%;}

		#formulario 


		 /*----- estilos visuales de los elementos --------*/
			.contact_form input, .contact_form textarea { 
				border:1px solid #aaa;
				border-radius:14px;
				outline: 0px;
				color: #595959;
				font-size: 12px;
				padding-right:30px;
				-moz-transition: padding .25s; 
				-webkit-transition: padding .25s; 
				-o-transition: padding .25s;
				transition: padding .25s;}

		/* === Estilos del boton de Envio === */
			
			.form-button
				{ text-align: center;
					margin: 0 auto;}
			button.submit {
			   font-family: 'Fjalla One', sans-serif, Helvetica, Arial, sans-serif;
			   line-height: 0.8;
			   letter-spacing: 0.5px;
			   font-size: 1em;
			   color: #fff;
			   border: none;
			   background-image: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#ff3300), to( #ff0000));
			   background-image: -moz-linear-gradient(0% 100% 90deg, #ffad33, #FFFFFF);
			   background-color: #fff;
			   border: 0.6px solid rgba(230, 230, 230,0.4);
			   border-radius: 14px;
			   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);}
			button.submit:hover 
				{opacity:.80;
				cursor: pointer;
				color: #fff;}
			button.submit:active 
				{border: 1px solid #222;
					background: grey;
				box-shadow: 0 0 10px 5px #444 inset;}
		/*Final estilos*/		


section	{width: 90%;
		padding: 0 5%;
		margin: 0px auto; float: left;}

#sec1 {height: 160px;
		width: 90%;
		padding: 0 5%;
		background: #fff;
		float: left;}
		.apps {margin: 15px 5px;height: 50px;}
		.udem {margin-left: 10px; margin-right: 10px;
			margin-top: 15px;}
		.capital {margin-left: 10px; margin-right: 10px;}
		.tecnoparque {margin: 15px 5px;}

#sec2 {height: 130px;
		width: 90%;
		padding: 0 5%;
		background: #fd2d4f;
		float: left;}
		#aprender {color: #fff;
					font-size: 1.3em;
					margin-top: 40px;}

#sec3 {background: url(../images/0fondo2.png);
			height: 350px;
		width: 90%;
		padding: 0 5%;
		text-align: center;
				margin: 0 auto;
			background-attachment: fixed; }

		#ben1 {width: 30%; float: left;
				padding-left: 5px;
				padding-right: 5px;
				text-align: center;
				margin: 0 auto;
				margin-left: 3%;}
		#ben2 {width: 30%;  float: left;
				padding-left: 5px;
				padding-right: 5px;
				text-align: center;
				margin: 0 auto;}
		#ben3 {width: 30%; float: left;
				padding-left: 5px;
				padding-right: 5px;
				text-align: center;
				margin: 0 auto;}

#sec4 {height: 160px;
		width: 90%;
		padding: 0 5%;
		background: #fff;
		float: left;}
		#logoss {margin-top: 20px;}

#sec5 {background: url(../images/0fondo2.png);
			height: 250px;
		width: 90%;
		padding: 0 5%;
			background-attachment: fixed;
			float: left;}

footer {height: 60px;
		width: 90%;
		padding: 0 5%;
		background: #333333;
		float: left;}
		#copyright {margin-top: 30px;
			color: #ced0d1}
ul {list-style-type: none;} 


#sec6 {background: #333333;
		height: 400px;}
		#logogrande
				#imlogogrande {height: 180px; 
								margin-top: 40px;}
	

/*Estilos para desktop______________________________________________________*/
@media only screen and (min-width:769px)
{

body {min-width: 880px; }

.div
	{max-width: 900px;
	margin: 0 auto;
	text-align: center;}

#nicolee {margin-right: 50px;}

#divdisponible {width: 100%;
					height: 90px;
					 float: left;}

	/*--- estilos para los ul y li del formulario ---*/
			.contact_form li { 
				margin: 0 auto;
				width: 90%;
				padding-bottom:5px;}

				#nombre {width: 280px;float: left; 
						margin-left: 7%;
						margin-top: 20px;
						margin-bottom: 15px;}

				#correo {width: 280px; float: right;
						margin-right: 7%;
						margin-top: 20px;
						margin-bottom: 15px;}

			 .contact_form input { 
				height:20px; 
				width:260px; 
				padding:5px 6px;}

			/* === Estilos del boton de Envio === */
			button.submit {
			   padding: 9px 60px;}

#mobile {display: none;}
#tablet {display: none;}

#logoss {width: 50%; float: left;}

#divdisponible2 { width: 50%;
		margin-top: 50px;
		 float: left;}
#sec6 {height: 350px;}
} /* NO BORRAR


/*Estilos para tablet_______________________________________________________*/

@media only screen and (min-width:481px) and (max-width:768px)

{
body {min-width: 680px; }

main {height: 555px;}

nav {margin-right: 20px;}

.div
	{margin: 0 auto;
	text-align: center;}

#nicolee {margin-bottom: 10px;}

#divdisponible {width: 100%;
					height: 90px;
					 float: left;}

/*--- estilos para los ul y li del formulario ---*/
			.contact_form li { 
				margin: 0 auto;
				width: 90%;
				padding-bottom:5px;}

				#nombre {float: left; 
						margin-top: 20px;
						margin-bottom: 15px;}

				#correo {float: right;
						margin-top: 20px;
						margin-bottom: 15px;}

			 .contact_form input { 
				height:20px; 
				width:260px; 
				padding:5px 6px;}

			/* === Estilos del boton de Envio === */
			button.submit {
			   padding: 9px 60px;}

#desktop {display: none;}
#mobile {display: none;}

		#ben1 {width: 30%; float: left;
				padding-left: 5px;
				padding-right: 5px;
				text-align: center;
				margin: 0 auto;
				margin-left: 2%;}
		#ben2 {width: 30%;  float: left;
				padding-left: 5px;
				padding-right: 5px;
				text-align: center;
				margin: 0 auto;}
		#ben3 {width: 30%; float: left;
				padding-left: 5px;
				padding-right: 5px;
				text-align: center;
				margin: 0 auto;}

#logoss {width: 50%; float: left;}

.apps {height: 45px;}

#divdisponible2 { width: 50%;
		margin-top: 50px;
		 float: left;}
#sec6 {height: 370px;}

} /* NO BORRAR


/*estilos para mobile_______________________________________________________*/

@media only screen and (max-width:480px) 

{
body {min-width: 430px;
		max-width: 455px;}

main {height: 750px;}

#nicolee {margin: 0 auto; float: none;}
.div
	{margin: 0 auto;
	text-align: center;}

#header {height: 240px;}

#divdisponible {width: 100%;
					margin-top: 15px;
					height: 90px;
					float: right;}
#holanico {height: 190px;
			margin-left: 10px;
			margin-top: 30px;}

/*--- estilos para los ul y li del formulario ---*/
			.contact_form li { 
				margin: 0 auto;
				width: 90%;
				padding-bottom:5px;}

				#nombre {
						margin-top: 10px;
						margin-bottom: 5px;}

				#correo {
						margin-top: 5px;
						margin-bottom: 10px;}

			 .contact_form input { 
				height:20px; 
				width:260px; 
				padding:5px 6px;}

			/* === Estilos del boton de Envio === */
			button.submit {
			   padding: 9px 60px;}

#sec1 {height: 190px;}
	.apps {height: 40px;}

		#desktop {display: none;}
		#tablet {display: none;}

#mobile {width: 87%; margin: 0 auto;}
.apps {margin-left: 25px; margin-right: 5px;}

#sec3 {height: 780px; text-align: center;
				margin: 0 auto;}

		#ben1 {width: 90%; float: left;
				padding-left: 5px;
				padding-right: 5px;
			text-align: center;
				margin: 0 auto;
				margin-left: 3%;
				margin-top: 15px;}
		#ben2 {width: 90%; float: left;
				padding-left: 5px;
				padding-right: 5px;
				text-align: center;
				margin: 0 auto;
				margin-left: 3%;
				margin-top: 15px;}
		#ben3 {width: 90%; float: left;
				padding-left: 5px;
				padding-right: 5px;
				text-align: center;
				margin: 0 auto;
				margin-left: 3%;
				margin-top: 15px;}
		
#sec4 {height: 240px;}
		#logos {text-align: center;
				margin: 0 auto;}
		#divdisponible2 {margin-top: 15px;}

#sec6 
	#logogrande {text-align: center;
				margin: 0 auto;}

footer {height: 50px;}
#copyright {font-size: 0.7em;
			margin-top: 30px;}

} /* NO BORRAR
